    <script type="text/x-handlebars" data-template-name='_about'>
      <section id="about" class="pageClass">
      <h2>About Us</h2>
      <h3 class="aboutTagLine">Celebrating the Best of Modern Art</h3>
      <img src="images/nyc-1.jpg" alt="About NYC" align="left" class="aboutImage imageBorder">
      <p>
      The situation deteriorated into attacks on New York's elite, followed by black New Yorkers and their property after fierce competition for a decade between immigrants and blacks for work. Rioters burned the Colored Orphan Asylum to the ground, but its more than 200 children escaped harm due to efforts of the city's largely Irish immigrant police force.  According to historian James M. McPherson (2001), at least 120 civilians were killed.   </p>
      <h3>An Introduction</h3>
      <p>
    In 1898, the modern City of New York was formed with the consolidation of Brooklyn (until then a separate city), the County of New York (which then included parts of the Bronx), the County of Richmond, and the western portion of the County of Queens.[105] The opening of the subway in 1904, first built as separate private systems, helped bind the new city together. Throughout the first half of the 20th century, the city became a world center for industry, commerce, and communication. </p>
      <p>
     In 1904, the steamship General Slocum caught fire in the East River, killing 1,021 people on board. In 1911, the Triangle Shirtwaist Factory fire, the city's worst industrial disaster, took the lives of 146 garment workers and spurred the growth of the International Ladies' Garment Workers' Union and major improvements in factory safety standards.[106]</p>
    </section>
</script>