.meeting
{
  text-align: left;
  padding-left: 20%;  
}

.center_1
{  
  width: 600px;
  padding-left:30px;  
}

.center_2
{   
  padding-left:35%;  
}


.center_3
{   
  padding-left:38.5%;  
}

.red
{   
	color: red;
}