






div.c0 {
 width: 100%;
    height: 20%;
  
  left: 5px;

}



div.c1 {
    width: 760px;
    height: 300px;
    background-color: yellow;
  
  box-shadow: 10px 10px 5px #888888;

    position: fixed;
    
   
 padding-top: 20px;
  padding-left: 30px;
  
  left: 0px;

}



div.cd {
    width: 100%;
    height: 100%;
    background-color: yellow;
  
  box-shadow: 10px 10px 5px #888888;

    position: fixed;
    
   
 padding-top: 20px;
  padding-left: 30px;
  
  left: 0px;

}




.c2 {
    
background-image: url("shop.jpg");
}







 







div.c3 {
width: 75%




}







 









div.c4 {
  padding-left: 0px;
  
   width: 500px;


 height: 300px;
 
  position: fixed;
   
 padding-t75: 20px;
 

 background-color: #eeeeee;
  
left: 80px;



}







 



div.c5 {
 
  height: 20%;
  
  left: 5px;

}







 





 
